@import "../main.scss";

.board-section {
  width: 100%;
  min-height: 95vh;

  //@include flex-column-full-centered;

  .board-header {
    width: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    h1 {
      margin: 1rem;
    }
  }

  .board-main {
    width: 100%;
    overflow-y: scroll;
    height: 85vh;
  }
}