@import "../main.scss";

.board-section {
  //@include dev-border(yellow);
  width: 100%;

  @include flex-column-full-centered;

  .board-header {
    width: 100%;

    h1 {}
  }

  .board-main {
    width: 95%;
  }
}