@import "../main.scss";

.story-section-container {
  width: 32%;
  margin: 1rem;
  // @include flex-column-full-centered;
  border: 1px solid $blueBorder;
  border-radius: $radius;
  // margin-bottom: 1rem;

  header {

    border-bottom: 1px solid $blueBorder;

    h3 {}
  }

  .story-section-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 20rem;

  }
}